@import "../../varGlobal";

.velib-station{
  width: 23vw;
  height: 23vw;
  margin: 1%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 50%;
  position: relative;
}

.velib-station-content{
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  text-align: center;
  div{
    font-size: 1rem;
  }
}

@keyframes anim-update-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.max_point{
  display: block;
  width: 100%;
  height: 5px;
}
.velib-station-bike-available{
  height: 5px;
  width: auto;
}


svg {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  transform: rotate(-90deg);
  circle {
    stroke-width: 4px;
    fill: transparent;
    transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
  }
}

.max_point{
  stroke: red;
}

$width: 285/100;

.green{
  stroke: green;
  stroke-dasharray: $width 285; /* length of arc, circumference of circle */
}