@import "../../varGlobal";

.container-velib{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  .col{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .velibForm{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
}

.velibForm.affix,
.nb-station{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.btn_search{
    background-color: $primaryColor;
    max-width: 15vw;
    width: 100%;
    margin: 1vw auto;
    line-height: 3;
    border: 2px solid $primaryColor;
    transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
    cursor: pointer;
    outline: none;
    &:focus{
        outline: none;
    }
    span{
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: $primaryFont;
        font-weight: $bold;
    }
    &:hover{
        background: $white;
        span{
            color: $primaryColor;
        }
    }
}

.velib-station-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 100vh;
  overflow-y: scroll;
}


//LOADER

.loader{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  transition: all .5s ease;
}

.loader.show{
  opacity: 1;
  visibility: visible;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primaryColor;
  height: 100%;
  width: 7px;
  margin: 0 3px 0 0;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
