@import "../../varGlobal";

%spedoELement{
  &:before{
      content: '';
      display: block;
      width: 3vh;
      height: 3vh;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      outline: 90px solid transparent;
      filter: url(#filter-goo-4);
      padding: 0;
      transform: translateY(-50%);
      background: $secondaryColor;
      border-radius: 50%;
      z-index: -2;
      transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:hover:before{
      width: 15vh;
      height: 15vh;
  }
}

.container-velib{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  h2{
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    font-weight: $regular;
  }
  .col{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }
  .velibForm{
    text-align: center;
    .radio{
        width: 37.5vw;
        height: 37.5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        position: relative;
        input{
            opacity: 0;
        }
        label{
            @extend %spedoELement;
            margin: 0 auto;
            width: 37.5vw;
            height: 37.5vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            position: relative;
            cursor: pointer;
            span{
                font-weight: $regular;
                font-size: 3rem;
                display: block;
                margin: 0 auto;
            }
        }
        input:checked+label:before{
            width: 15vh;
            height: 15vh;
        }
    }
    .search{
      width: 25vw;
      height: 25vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      position: relative;
      @extend %spedoELement;
      input{
        width: 100%;
        border: 0;
        padding-left: 15px;
        line-height: 2;
        font-size: 3rem;
        background: transparent;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $black;
        font-family: $primaryFont;
        font-weight: $regular;
        text-align: center;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $black;
        font-family: $primaryFont;
        font-weight: $regular;
        text-align: center;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $black;
        font-family: $primaryFont;
        font-weight: $regular;
        text-align: center;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $black;
        font-family: $primaryFont;
        font-weight: $regular;
        text-align: center;
      }
    }
  }
}
.velibForm.affix{
  position: fixed;
  width: 100%;
  background-color: $white;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  top: 50%;
  z-index: -1;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
  &.active{
    opacity: 1;
    z-index: 10;
  }
  .btn_search{
    position: fixed;
  }
}
.nb-station{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
.close_search,
.filter{
  cursor: pointer;
  display: block;
  width: 4vh;
  height: 4vh;
  z-index: 30;
  position: fixed;
  top: 1vh;
  right: 1vh;
  opacity: 0;
  transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
  svg{
    fill: $primaryColor;
    width: 90%;
    height: 90%;
  }
}

.velibForm{
  &.affix{
    .close_search,
    &+.filter{
      opacity: 1;
      &.hidden{
        opacity: 0;
      }
    }
  }
}

.btn_search{
    background-color: $primaryColor;
    width: 100%;
    line-height: 3;
    border: 2px solid $primaryColor;
    transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    &:focus{
        outline: none;
    }
    span{
        color: $white;
        text-transform: uppercase;
        font-size: 1rem;
        font-family: $primaryFont;
        font-weight: $bold;
    }
    &:hover{
        background: $white;
        span{
            color: $primaryColor;
        }
    }
}

.velib-station-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 98vh;
  margin-top: 2vh;
  overflow-y: scroll;
}


//LOADER

.loader{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 100vh;
  transition: all .5s ease;
}

.loader.show{
  opacity: 1;
  visibility: visible;
  z-index: 40;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: $primaryColor;
  height: 100%;
  width: 7px;
  margin: 0 3px 0 0;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

//roll

.roll{
  .button_bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    outline: 90px solid transparent;
    filter: url(#filter-goo-4);
    padding: 0;
    transform: translateY(-50%);
    background: none;
    z-index: -2;
  }
  .blob{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      opacity: 0.5;
      background: $secondaryColor;
      z-index: -1;
      pointer-events: none;
      transition: all 0.1s ease-out;
      &:first-child{
        opacity: .9;
      }
  }
  &:hover{
    .button_bg{
      width: 15vh;
      height: 15vh;
      .blob{
        width: 100%;
        height: 100%;
      }
    }
  }
  input:checked+label+.button_bg{
    width: 15vh;
    height: 15vh;
    .blob{
      width: 100%;
      height: 100%;
    }
  }
}
