@import "../../varGlobal";

.nav-velib,
.nav-autolib{
	width: 50vw;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	cursor: pointer;
	a{
		display: block;
		margin: 0 auto;
		position: relative;
	}
	.link-wrapper{
		text-align: center;
	}
	.title{
		color: black;
		font-size: 4rem;
		font-weight: $bold;
		text-transform: uppercase;
		color: $primaryColor;
	}
	@extend %animNav;
}
.nav-autolib{
	right: 0;
	left: auto;
	overflow: hidden;
}

%animNav{
	a{
		.title{
			position: relative;
			z-index: 2;
			color: $primaryColor;
		    cursor: pointer;
			transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
		}
		.button_bg {
		    position: absolute;
			left: 50%;
			right: 0;
			top: 50%;
			margin: 0 auto;
		    outline: 90px solid transparent;
		    filter: url(#filter-goo-4);
		    padding: 0;
		    transform: translateY(-50%) translateX(-50%);
		    background: none;
		    z-index: -2;
		}
		.blob{
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: auto;
		    width: 1px;
		    height: 1px;
		    border-radius: 50%;
		    opacity: 0.5;
		    background: $secondaryColor;
		    z-index: -1;
		    pointer-events: none;
		    transition: all 0.1s ease-out;
		    &:first-child{
		    	opacity: .9;
		    }
		}
	}
    &:hover{
		.title{
			position: relative;
			z-index: 2;
			color: $white;
		}
		.button_bg{
			width: 45vh;
			height: 45vh;
			.blob{
				width: 100%;
				height: 100%;
			}
		}
	}
}

.body_animate{
	transition: all .5s cubic-bezier(0.75, 0, 0.125, 1);
	.nav{
		width: 100%;
		&:before{
			width: 100%;
		}
		.button_bg{
			width: 100vh;
			height: 100vh;
		}
		.blob{
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}
}
