
$primaryFont: 'Montserrat', sans-serif;

$thin: 300;
$regular: 400;
$bold: 700;


//COLOR

$white: #FFF;
$black: #000;
$primaryColor: #0760fe;
$secondaryColor: red;
$green: #32CD32;

*,
*:focus{
  outline: none;
}
